{% extends 'base.html' %}

{% block content %}
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2 id="myheader">Modal Header</h2>
      </header>
      <div class="w3-container">
        <canvas id="myChart" width="400" height="150"></canvas>
      </div>
    </div>
  </div>

  <table id="data" class="table table-striped table-bordered">
     <thead>
         <tr>
            <th>證券代號</th>
            <th>公司名稱</th>
            <th>上市日</th>
            <th>產業別</th>
            <th>營收圖表</th>
         </tr>
     </thead>
     <tbody>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
     </tbody>
  </table>
{% endblock %}
  
{% block scripts %}
 <script type="text/javascript"  src="{{ url_for('static', filename='js/index.js')}}"></script>
 <script>
   var myChart = new Chart($('#myChart'), {
        type: 'line',
        data: {
                     labels: [ 'January',  'February',
                                  'March',  'April',
                                 'May',  'June',
                                 'July',   'August',
                                 'September',  'October',
                                 'November',  'December'
                   ],            
                    datasets: [{
                       label: '今年營收',
                       data: [],
                       fill: false,
                       borderColor: 'rgb(168, 50, 50)',
                       tension: 0.1
                    },
                   { 
                      label: '去年營收',
                      data: [],
                      fill: false,
                      borderColor: 'rgb(50, 56, 168)',
                      tension: 0.1
                   }]
        },
         options: {
                      plugins: {
                                title: {
                                    display: true,
                                    text: '單位: 新臺幣千元',
                                    padding: {
                                        top: 10,
                                        bottom: 30
                                    }
                                }
                      }
          }
   });
</script>
<script>
       $(document).ready(function() {
         var table = $('#data').DataTable({
               ajax: 'api/data',
               serverSide: true,
               columns:  [
                               {data: 'stock_no'},
                               {data: 'company_name'},
                               {data: 'listing_date'},
                               {data: 'category'},
                               {data: 'stock_no', render: function ( data, type, row, meta ) {
                                  return type === 'display' ?
                                   '<button class="btn btn-primary" onclick="update_chart(' + data + ')">顯示圖表</button>' : data
                               }}
               ],
               columnDefs: [{
                    'targets': [2,4],
                    'orderable': false
               }]
         } );
      } );
</script>
  
{% endblock %}